@font-face {
  font-family: Outfit;
  src: url("/assets/font/Outfit-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: outfit, sans-serif;
  background-color: var(--secondarycolor, #035bad);
}

body {
  display: flex;
  height: 100vh;
  font-family: outfit, sans-serif;
}

.volver {
  background-color: transparent;
  border: none;
  width: fit-content;
  font-family: outfit, sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #03519b;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  transition: 0.2s ease;
  outline: 1px solid transparent;
  cursor: pointer;
}

.volver img {
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
}

.volver:hover {
  outline: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.05);
}

aside {
  width: auto;
  background-color: var(--secondarycolor, #035bad);
  color: white;
  padding: 1rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  border-radius: 1rem;
  position: sticky;
  top: 0;
}

aside nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

aside nav ul li {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

aside nav ul li:first-child img {
  opacity: 100%;
  height: 50px;
}

aside nav ul li:first-child {
  justify-content: center;
  margin: 1rem 0;
}

aside nav ul li img {
  opacity: 35%;
}

aside nav ul li button {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-family: outfit, sans-serif;
  cursor: pointer;
}

.aside-logout {
  margin: 1rem 0;
}

.aside-logout img {
  height: 35px;
}

aside nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

aside nav ul li.seleccionada {
  background-color: rgba(0, 0, 0, 0.35);
}

aside nav ul li.seleccionada img {
  opacity: 100%;
}

.nav-bottom {
  display: none;
}

.icon {
  width: 25px;
}

a {
  color: white;
  text-decoration: underline;
}

main {
  flex: 1;
  background-color: #f9fafb;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

.header-dashboard {
  height: auto;
  padding: 0 0.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boton-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.boton-dashboard button {
  background-color: var(--green);
  color: white;
  font-family: outfit;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 #d1cccc;
  font-size: 1rem;
  border-radius: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.boton-dashboard button:hover {
  scale: 1.05;
}

.boton-dashboard button:active {
  scale: 1;
}

.header-dashboard h1 {
  font-size: 2rem;
  color: black;
}

.header-dashboard p {
  margin-bottom: 0;
}

.dashboard {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  gap: 1rem;
  color: black;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

#filtroCurso {
  background: var(--green);
  color: white;
  font-family: outfit;
  padding: 1rem 1rem;
  border-radius: 1rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 #d1cccc;
}

.contenedor-principal {
  display: flex;
  min-height: 0;
  gap: 0.5rem;
  flex: 1;
}

.evaluaciones-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  height: auto;
  border-radius: 1rem;
}

.lista-evaluaciones {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5rem;
  flex: 1;
  border-radius: 1rem;
}

.card-evaluacion {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 #d1cccc;
  transition: 0.2s ease;
  cursor: pointer;
  outline: 1px solid transparent;
}

.card-evaluacion h4,
.card-evaluacion p {
  margin: 0;
}

.infoCardEv {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.card-evaluacion:hover {
  background-color: rgba(255, 255, 255, 0.5);
  outline: 1px solid transparent;
}

.card-evaluacion:active {
  scale: 0.98;
}

.card-evaluacion.seleccionado {
  background-color: #126abd;
  color: white;
  outline: 2px solid #126abd71;
}

.card-evaluacion.seleccionado:hover {
  scale: 1;
}

.contenedor-detalle {
  flex: 2;
  min-height: 0;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.detalle-evaluacion {
  background-color: rgba(0, 0, 0, 0.05);
  overflow: auto;
  gap: 0.5rem;
  flex: 1;
  border-radius: 0 0 1rem 1rem;
  min-height: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: 0.2s ease;
}

.header-detalle {
  background: #126abd;
  color: white;
  box-shadow: 0 1px 2px 0 #d1cccc;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.infoEvaluacion {
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

#cursoEv {
  background-color: var(--color);
}

#asigEv {
  background-color: var(--color);
}

.infoEvaluacion span {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.15);
}

.header-detalle h3,
.header-detalle p {
  margin: 0;
}

.fila-estudiante {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 #2e2e2e6c;
}

.header-tabla {
  background-color: #126abd;
  position: sticky;
  top: 0;
  gap: 0.5rem;
  color: white;
  display: flex;
  justify-content: space-around;
}

.header-tabla span {
  padding: 0.5rem;
}

.header-tabla span:nth-child(1) {
  flex: 0.5;
  text-align: center;
}

.header-tabla span:nth-child(2) {
  flex: 4;
}

.header-tabla span:nth-child(3) {
  flex: 0.8;
  text-align: center;
}

.tabla-notas {
  width: 100%;
  border-collapse: collapse;
}

.tabla-notas th,
.tabla-notas td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.tabla-notas td:first-child {
  text-align: center;
}

.tabla-notas td:last-child {
  text-align: center;
}

.tabla-notas th {
  background: #f5f5f5;
  font-weight: 600;
}

.tabla-notas tr:hover {
  background: #fafafa;
}

.tabla-notas input {
  padding: 0.5rem;
  width: 20px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  border-radius: 0.5rem;
  border: none;
  box-shadow: inset 0 1px 2px 0 #bec3c9;
  font-family: outfit, sans-serif;
}

@media (max-width: 768px) {
  .contenedor-principal {
    flex-direction: column;
  }
  .contenedor-detalle {
    min-height: auto;
  }
}
