@font-face {
  font-family: Outfit;
  src: url("/assets/font/Outfit-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: outfit, sans-serif;
  background-color: var(--secondarycolor, #035bad);
}

body {
  display: flex;
  height: 100vh;
  font-family: outfit, sans-serif;
}

#mensaje {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  width: 100%;
  max-width: 300px;
  transform: translateX(-50%) translateY(-25%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem 1.5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  z-index: 99999;
  transition: 0.3s ease;
}

#mensaje.mostrar {
  opacity: 1;
  pointer-events: all;
  transform: translateX(-50%) translateY(0);
}

#mensaje.green {
  background-color: #15875d;
  color: white;
}

#mensaje.red {
  background-color: #e74c3c;
  color: white;
}

asignatura-matemáticas {
  --color: #3891e9;
}
.asignatura-lenguaje {
  --color: #f75353;
}
.asignatura-historia {
  --color: #7ed321;
}
.asignatura-ciencias {
  --color: #0da761;
}
.asignatura-inglés {
  --color: #cdb51a;
}
.asignatura-inglés-comunicativo {
  --color: #f1660f;
}
.asignatura-estudios-sociales {
  --color: #f5a623;
}
.asignatura-artes-visuales {
  --color: #23babf;
}
.asignatura-tic {
  --color: #8544cf;
}
.asignatura-consumo-y-calidad-de-vida {
  --color: #8544cf;
}
.asignatura-filosofía {
  --color: #cf58dc;
}
.asignatura-instrumental-1 {
  --color: #fb2b66;
}
.asignatura-instrumental-2 {
  --color: #f16b3a;
}
.asignatura-diferenciado {
  --color: #09dc84;
}
.asignatura-jefatura {
  --color: #0c4d8e;
}
.asignatura-pensamiento-computacional {
  --color: #8544cf;
}
.asignatura-educación-financiera {
  --color: #8544cf;
}
.asignatura-convivencia-social {
  --color: #54328a;
}
.asignatura-inserción-laboral {
  --color: #54328a;
}
.asignatura-responsabilidad-personal-y-social {
  --color: #54328a;
}
.asignatura-emprendimiento-y-empleabilidad {
  --color: #54328a;
}

.curso-1° {
  color: white;
  padding: 0.25rem 1rem;
  width: fit-content;
  border-radius: 2rem;
  font-size: 0.875rem;
  margin-bottom: .5rem;
  background-color: #0da761 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.35),
    inset 0 0 2px rgba(255, 255, 255, 0.8);
}

.curso-2° {
  color: white;
  padding: 0.25rem 1rem;
  width: fit-content;
  border-radius: 2rem;
  font-size: 0.875rem;
  margin-bottom: .5rem;
  background-color: #3891e9 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.35),
    inset 0 0 2px rgba(255, 255, 255, 0.8);
}

.volver {
  background-color: transparent;
  border: none;
  width: fit-content;
  font-family: outfit, sans-serif;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #03519b;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  transition: 0.2s ease;
  outline: 1px solid transparent;
  cursor: pointer;
}

.volver img {
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}

.volver:hover {
  outline: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.05);
}

/* NAVBAR */

aside {
  width: auto;
  background-color: var(--secondarycolor, #035bad);
  color: white;
  padding: 1rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  border-radius: 1rem;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

nav ul li {
  background-color: transparent;
  display: flex;
  align-items: center;
}

nav ul li:first-child img {
  opacity: 100%;
  height: 50px;
}

nav ul li:first-child {
  justify-content: center;
  margin: 1rem 0;
}

nav ul li img {
  opacity: 35%;
  transition: .2s ease;
}

nav ul li button {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-family: outfit, sans-serif;
  cursor: pointer;
  border-radius: 10px;
  transition: .2s ease;
}

nav ul li button.active {
  background-color: rgba(0, 0, 0, 0.2);
}

nav ul li button.active img {
  opacity: 100%;
}

.aside-logout {
  margin: 1rem 0;
}

.aside-logout img {
  height: 35px;
}

nav ul li button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav ul li button.active:hover {
  background-color: rgba(0, 0, 0, 0.2);
}



/* NAVBAR MOBILE */

#navbarmobile {
  display: none;
  height: fit-content;
  top: auto;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  bottom: -1px;
  padding: 0;
  margin: 0;
  box-shadow: 0 -1px 5x rgba(0, 0, 0, 0.2);
}

#navbarmobile nav {
  flex-direction: row;
  justify-content: space-around;
}

#navbarmobile .logo {
  display: none;
}

#navbarmobile nav ul {
  flex-direction: row;
}

#navbarmobile nav ul li button span {
  display: none;
}

.icon {
  width: 25px;
}

a {
  color: white;
  text-decoration: underline;
}

main {
  flex: 1;
  background-color: #f9fafb;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: relative;
}

.header-dashboard {
  height: auto;
  padding: 0 0.5rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-dashboard h2 {
  margin: 0;
  margin-bottom: 1rem;
}

.boton-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: fit-content;
}

.boton-dashboard button {
  background-color: var(--green);
  color: white;
  width: fit-content;
  font-family: outfit;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 #1a1a1a34;
  font-size: 1rem;
  border-radius: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
  outline: 2px solid transparent;
}

.boton-dashboard button:hover {
  outline: 2px solid #15875d44;
}

.boton-dashboard button:active {
  scale: 0.95;
}

main button {
  background-color: var(--green);
  color: white;
  font-family: outfit;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35), inset 0 0 2px rgba(255, 255, 255, 0.8);
  font-size: .875rem;
  border-radius: .5rem;
  transition: 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

main button img {
  height: 14px;
}

main button:hover {
  filter: brightness(95%);
}

main button:active {
  scale: 0.98;
}

.header-dashboard h1 {
  font-size: 2rem;
  color: black;
}

.header-dashboard p {
  margin-bottom: 0;
}

.dashboard {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  gap: 1rem;
  color: black;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

/* SECCIÓN DE EVALUACIONES */

.contenedor-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  min-height: 0;
  overflow: auto;
  transition: 0.3s ease opacity;
}

.contenedor-form.activo {
  opacity: 1;
  pointer-events: all;
}

#formEvaluacion {
  margin: 2rem;
  border-radius: 18px;
  font-family: outfit;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#formEvaluacion h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #222;
}

#formEvaluacion div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#formEvaluacion label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #555;
}

#formEvaluacion input,
#formEvaluacion textarea,
#formEvaluacion select {
  padding: 0.75rem 0.9rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  outline: none;
  background-color: #fafafa;
  font-family: outfit;
}

#formEvaluacion textarea {
  resize: none;
  min-height: 90px;
  font-family: outfit;
}

#formEvaluacion input:focus,
#formEvaluacion textarea:focus,
#formEvaluacion select:focus {
  border-color: #6c63ff;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.15);
}

#formEvaluacion button {
  margin-top: 1rem;
  color: white;
  font-family: Outfit;
  padding: 1rem 1.5rem;
  background-color: #02a66a !important;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: 2px solid transparent;
  transition: 0.2s ease;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

#formEvaluacion button:hover {
  background-color: #02a66a;
  outline: 2px solid rgba(255, 255, 255, 0.75);
}

#formEvaluacion button:active {
  transform: translateY(0);
  box-shadow: none;
}

#formEvaluacion.activo {
  scale: 1;
  opacity: 1;
}

#formEvaluacion h2 {
  margin-top: 0;
}

.cerrar-modal {
  width: 35px;
  height: 35px;
  background-color: #ec2138;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  transition: 0.2s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.cerrar-modal:hover {
  filter: brightness(90%);
}

.cerrar-modal:active {
  scale: 0.95;
}

.cerrar-modal img {
  pointer-events: none;
}

#filtroCurso {
  background: #126abd;
  color: white;
  font-family: outfit;
  padding: 1rem 1rem;
  border-radius: 1rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 #d1cccc;
}

.contenedor-principal {
  display: flex;
  min-height: 0;
  gap: 0.5rem;
  flex: 1;
  position: relative;
}

.evaluaciones-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  height: auto;
  border-radius: 1rem;
}

.lista-evaluaciones {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
}

.card-evaluacion {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 #d1cccc;
  transition: 0.2s ease;
  cursor: pointer;
  outline: 1px solid transparent;
}

.card-evaluacion .btn-eliminar {
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  width: fit-content;
  color: #f24848;
  outline: 1px solid #f24848;
  font-family: outfit, sans-serif;
  transition: 0.2s ease;
}

.card-evaluacion.seleccionado .btn-eliminar {
  background-color: transparent;
  box-shadow: none;
  border: none;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  width: fit-content;
  color: white;
  outline: 1px solid white;
  font-family: outfit, sans-serif;
  transition: 0.2s ease;
}

.card-evaluacion .btn-eliminar:hover {
  background-color: #f24848;
  color: white;
  outline: 1px solid white;
}

.card-evaluacion .btn-eliminar:active {
  scale: 0.95;
}

.card-evaluacion h4,
.card-evaluacion p {
  margin: 0;
}

.infoCardEv {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.card-evaluacion:hover {
  background-color: rgba(255, 255, 255, 0.5);
  outline: 1px solid transparent;
}

.card-evaluacion:active {
  scale: 0.98;
}

.card-evaluacion.seleccionado {
  background-color: #126abd;
  color: white;
  outline: 2px solid #126abd71;
}

.card-evaluacion.seleccionado:hover {
  scale: 1;
}

.contenedor-detalle {
  flex: 2;
  min-height: 0;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.detalle-evaluacion {
  background-color: rgba(0, 0, 0, 0.05);
  overflow: auto;
  gap: 0.5rem;
  flex: 1;
  border-radius: 0 0 1rem 1rem;
  min-height: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: 0.2s ease;
}

.header-detalle {
  background: #126abd;
  color: white;
  box-shadow: 0 1px 2px 0 #d1cccc;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1rem 1rem 0 0;
}

.infoEvaluacion {
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

#cursoEv {
  background-color: var(--color);
}

#asigEv {
  background-color: var(--color);
}

.infoEvaluacion span {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.15);
}

.header-detalle h3,
.header-detalle p {
  margin: 0;
}

.fila-estudiante {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 #2e2e2e6c;
}

.header-tabla {
  background-color: #126abd;
  position: sticky;
  top: 0;
  gap: 0.5rem;
  color: white;
  display: flex;
  justify-content: space-around;
}

.header-tabla span {
  padding: 0.5rem;
}

.header-tabla span:nth-child(1) {
  flex: 0.5;
  text-align: center;
}

.header-tabla span:nth-child(2) {
  flex: 4;
}

.header-tabla span:nth-child(3) {
  flex: 0.8;
  text-align: center;
}

.tabla-notas {
  width: 100%;
  border-collapse: collapse;
}

.tabla-notas th,
.tabla-notas td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.tabla-notas td:first-child {
  text-align: center;
}

.tabla-notas td:last-child {
  text-align: center;
}

.tabla-notas th {
  background: #f5f5f5;
  font-weight: 600;
}

.tabla-notas tr:hover {
  background: #fafafa;
}

.tabla-notas input {
  padding: 0.5rem;
  width: 20px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  border-radius: 0.5rem;
  border: none;
  box-shadow: inset 0 1px 2px 0 #bec3c9;
  font-family: outfit, sans-serif;
}

/* SECCIÓN CURSOS */

#contenedor-cursos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.curso {
  background-color: var(--color);
  padding: 0.25rem 0.75rem;
  width: fit-content;
  font-size: 0.875rem;
  border-radius: 1rem;
}

.asignatura-item {
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  color: #fff;
  position: relative;
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
  height: fit-content;
}

.asignatura-item:hover {
  scale: 1.05;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.asignatura-item::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: var(--backgroundColor); /* o el color base del item */
  z-index: -1;
}

.asignatura-item::before {
  content: "";
  position: absolute;
  inset: -3px; /* grosor del borde */
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    var(--backgroundColor2, #127bde),
    var(--backgroundColor3, #127bde),
    var(--backgroundColor3, #127bde),
    var(--backgroundColor2, #127bde)
  );
  background-size: 300% 300%;
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: borderMove 5s linear infinite;

  z-index: -2;
}
/*
90deg,  
    #4facfe,
    #43e97b,
    #f093fb,
    #4facfe
*/
/* Hover activa el borde */
.asignatura-item:hover::before {
  opacity: 1;
}

/* Animación */
@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

.asignatura-item h3 {
  margin: 0;
  font-size: 1.25rem;
  z-index: 2;
  position: relative;
}

.asignatura-item .profesor {
  font-size: 0.875rem;
  z-index: 2;
  position: relative;
}

.asignatura-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  background-color: transparent;
  pointer-events: none;
  border-radius: inherit;
}

.asignatura-icon img {
  height: 40%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  scale: 2;
  transition: 0.3s ease;
  opacity: 0.09;
  filter: invert(0);
}

.asignatura-item:hover .asignatura-icon img {
  transform: rotate(-10deg);
  scale: 2.75;
  opacity: 0.35;
  filter: invert(0);
  right: 2rem;
}

/* SECCIÓN ASIGNATURA DETALLE */

.asignatura-header {
  background-color: #f9fafb;
  z-index: 999;
}

.asignatura-detalle {
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  color: #fff;
  position: relative;
  background-color: #035bad;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  z-index: 1;
  height: fit-content;
}

.asignatura-detalle .asignatura-icon {
  z-index: 0;
}

.asignatura-detalle h2 {
  margin: 0;
}

.asignatura-detalle p {
  margin: 0;
}

.asignatura-detalle .detalle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

::view-transition-old(*),
::view-transition-new(*) {
  height: 100%;
  width: 100%;
}

@keyframes abrir {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.asignatura-navegacion {
  width: fit-content;
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  margin: 0.5rem 0;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.075);
}

.asignatura-navegacion button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: outfit, sans-serif;
  box-shadow: 0 1px 2px 0 transparent;
  transition: 0.2s ease;
  cursor: pointer;
  animation: aparecer 0.5s ease;
}

.asignatura-navegacion .btn {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: outfit, sans-serif;
  box-shadow: 0 1px 2px 0 transparent;
  transition: 0.2s ease;
  cursor: pointer;
  animation: aparecer 0.5s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.asignatura-navegacion button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.asignatura-navegacion .btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.asignatura-navegacion button:active {
  filter: brightness(0.9);
  scale: 0.975;
}

.asignatura-navegacion .btn:active {
  filter: brightness(0.9);
  scale: 0.975;
}

.asignatura-navegacion button.seleccionado {
  background-color: white;
  box-shadow: 0 1px 2px 0 #1a1a1a34;
  color: black;
}

.asignatura-navegacion .btn.seleccionado {
  background-color: white;
  box-shadow: 0 1px 2px 0 #1a1a1a34;
  color: black;
}

/* SECCIÓN MATERIAL */

.contenedor-form-material {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 0;
  overflow: auto;
  flex: 1.5;
}

.contenedor-form-material input {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.95rem;
  transition: all 0.2s ease;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  font-family: outfit, sans-serif;
}

.contenedor-form-material input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.contenedor-form-material select {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.95rem;
  transition: all 0.2s ease;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  font-family: outfit, sans-serif;
}

.select-material {
  color: white;
  font-family: Outfit;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-material:active {
  background-color: rgba(0, 0, 0, 0.25);
}

.select-material,
::picker(select) {
  appearance: base-select;
}

.select-material::picker(select) {
  background-color: #035bad;
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.select-material:focus {
  outline: none;
}

.select-material option {
  background-color: #03519b;
  color: white;
  font-family: Outfit;
  font-weight: 300;
  height: 100%;
  padding: 5px;
  margin: 5px;
  border-radius: 0.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.select-material option:hover {
  background-color: #126abd;
}

.select-material option:checked {
  background-color: #126abd;
}

.select-material::picker-icon {
  appearance: none;
  color: transparent;
  width: 15px;
  background-image: url("/assets/icon/arrow-white.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.contenedor-form-material textarea {
  resize: none;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.95rem;
  transition: all 0.2s ease;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  font-family: outfit, sans-serif;
}

.form-unidad {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  color: black;
  box-shadow: 0 1px 2px 0 #1a1a1a34;
}

.form-unidad input {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.95rem;
  transition: all 0.2s ease;
  outline: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: outfit, sans-serif;
}

.form-unidad h2 {
  margin: 0;
  text-align: center;
}

.form-material {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  flex: 1;
  background-color: #126abd;
  color: white;
  box-shadow: 0 1px 2px 0 #1a1a1a34;
}

.form-material h2 {
  margin: 0;
  text-align: center;
}

.form-material form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-material .campo-archivo {
  padding: 1rem;
  border-radius: 10px;
  border: 2px dotted rgba(0, 0, 0, 0.2);
  font-size: 0.95rem;
  transition: all 0.2s ease;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;
  display: none;
  justify-content: center;
}

.form-material .campo-archivo.seleccionado {
  display: flex;
}

.form-material .campo-archivo input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  padding: 0;
}

.form-material .campo-archivo .contenido-campo-archivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.contenido-campo-archivo img {
  width: 30px;
  height: 30px;
}

.form-material input[type="file"]::file-selector-button {
  display: none;
}

.form-material .campo-archivo:hover {
  border: 2px dotted rgba(255, 255, 255, 0.5);
}

.form-material .asignatura-navegacion .btn {
  color: rgba(255, 255, 255, 0.5);
}

.form-material .asignatura-navegacion .btn.seleccionado {
  color: black;
}

.contenedor-form-material .campo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contenedor-unidades .campo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#campo-enlace {
  padding: 0;
  border: none;
}

#campo-enlace input {
  width: 100%;
}

.contenedor-unidades {
  display: flex;
  flex-direction: column;
  flex: 3;
  min-height: 0;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 #1a1a1a34;
  min-height: 0;
  overflow: auto;
  padding: 1rem;
  border-radius: 1rem;
}

.material-curso {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bloque-categoria {
  margin-bottom: 2rem;
}

.items-categoria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.titulo-categoria {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}

.item-material {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  height: 200px;
  box-shadow: 0 1px 2px 0 #1a1a1a34;
  border: 1px solid rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.item-material .fecha-subida {
  font-size: 0.75rem;
  color: #555;
  background-color: white;
}

.item-material .preview-material {
  display: flex;
  flex-direction: column;
  position: relative;
}

.item-material .btn-ver {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-family: outfit, sans-serif;
  transition: 0.2s ease;
}

.item-material .btn-ver:hover {
  text-decoration: underline;
  color: #126abd;
}

.acciones-material {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;
}

.item-material:hover .acciones-material {
  opacity: 1;
  pointer-events: all;
}

.material-curso .btn-material {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem;
  width: 20px;
  height: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

.material-curso .btn-material:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.material-curso .btn-material img {
  width: 20px;
  height: 20px;
}

.item-material .preview-pdf {
  overflow: hidden;
  height: 100px;
  background-color: #f24848;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-material .preview-pdf img {
  height: 90%;
}

.item-material .preview-enlace {
  overflow: hidden;
  height: 100px;
  background-color: #3daa37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-material .preview-enlace img {
  height: 90%;
}

.item-material .preview-video {
  overflow: hidden;
  height: 100px;
  background-color: #48bff2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-material .preview-video img {
  height: 90%;
}

.item-material .preview-img {
  height: 100px;
  overflow: hidden;
}

.item-material .preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-material .info-material {
  padding: 0.75rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-material .info-material p {
  margin: 0;
}

.bloque-unidad {
  border-radius: 12px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.unidad-header {
  padding: 15px 20px;
  border-radius: 1rem;
  cursor: pointer;
  background: #f4f6f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unidad-contenido {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
  padding: 0 20px;
}

.icono-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.acciones-unidad {
  display: flex;
  gap: 0.5rem;
}

.acciones-unidad .btn-material {
  background-color: #f24848;
}

.acciones-unidad .btn-material:hover {
  background-color: #e03131;
}

/* SECCION JEFATURA */

.contenedor-tabla {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
}

.contenedor-tabla table {
  width: 100%;
  border-collapse: collapse;
}

.contenedor-tabla table th {
  text-align: start;
  padding: 0.875rem;
}

.contenedor-tabla table th:first-child {
  text-align: center;
}

.contenedor-tabla table tr {
  transition: 0.2s ease;
}

.contenedor-tabla table tr td:first-child {
  text-align: center;
}

.contenedor-tabla table tr:hover {
  background-color: rgb(245, 245, 245);
}

.contenedor-tabla table td {
  padding: 0.875rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.estudiante-tabla {
  cursor: pointer;
}

.estudiante-tabla:hover {
  text-decoration: underline;
}

/* FICHA DE ESTUDIANTE */

.info-estudiante {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.card-dato {
  height: auto;
  gap: 8px;
  width: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 1rem;
  flex: 1;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.contenedor-notas {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 #1a1a1a34;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contenedor-notas h3 {
  margin: 1rem 0;
  text-align: center;
}

.tabla-notas-estudiante {
  width: 100%;
  border-collapse: collapse; /* 👈 importante */
  padding: 1rem;
}

.tabla-notas-estudiante .asignatura-td {
  box-shadow: 0 1px 2px 0 #1a1a1a34;
  border-radius: 0.5rem;
  border-left: 6px solid var(--color);
  background-color: white;
  padding: 10px;
}
.tabla-notas-estudiante th,
.tabla-notas-estudiante td {
  padding: 10px;
  text-align: center;
}

.tabla-notas-estudiante thead tr:hover {
  background: white;
}

.tabla-notas-estudiante tr:hover {
  background: #fafafa;
}

.tabla-notas-estudiante .nota {
  padding: 0.5rem;
  width: 20px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  border-radius: 0.5rem;
  border: none;
  box-shadow: inset 0 1px 2px 0 #bec3c9;
  font-family: outfit, sans-serif;
}

.ficha-botones {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  main {
    margin: 0;
    padding: 1rem;
  }

  #navbar {
    display: none;
  }

  #navbarmobile {
    display: block;
  }

  .contenedor-principal {
    flex-direction: column;
    min-height: auto;
  }
  .contenedor-detalle {
    min-height: auto;
  }
  .lista-evaluaciones {
    height: fit-content;
    flex: none;
  }
  .evaluaciones-container {
    flex: none;
  }
  .acciones-material {
    opacity: 1;
    pointer-events: all;
  }
  .contenedor-form-material {
    min-height: auto;
    overflow: visible;
  }
}
