html,
body {
  margin: 0;
  padding: 0;
  font-family: outfit, sans-serif;
  background-color: var(--secondarycolor, #035bad);
}

body {
  display: flex;
  height: 100vh;
}

aside {
  width: auto;
  background-color: var(--secondarycolor, #035bad);
  margin: 1rem;
  color: white;
  padding: 1rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  border-radius: 1rem;
  position: sticky;
  top: 0;
}

aside nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

aside nav ul li {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

aside nav ul li:first-child img {
  opacity: 100%;
  height: 50px;
}

aside nav ul li:first-child {
  justify-content: center;
  margin: 1rem 0;
}

aside nav ul li img {
  opacity: 35%;
}

aside nav ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
}

.aside-logout {
  margin: 1rem 0;
}

.aside-logout img {
  height: 35px;
}

aside nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

aside nav ul li.seleccionada {
  background-color: rgba(0, 0, 0, 0.35);
}

aside nav ul li.seleccionada img {
  opacity: 100%;
}

.nav-bottom {
  display: none;
}

.icon {
  width: 25px;
}

a {
  color: white;
  text-decoration: underline;
}

main {
  flex: 1;
  background-color: #f9fafb;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

.header-dashboard {
  height: auto;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.dashboard {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  gap: 1rem;
  color: black;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.contenedor-1 {
  display: flex;
  gap: 1rem;
  flex: 1;
  flex-wrap: wrap;
}

.resumen-academico {
  width: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.resumen-academico .contenedor-resumen {
  height: auto;
  gap: 8px;
  width: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 1rem;
  flex: 1;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.shadow-soft {
  box-shadow: 0 1px 2px 0 #e2e8f0;
}

.curso {
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.35),
    inset 0 0 2px rgba(255, 255, 255, 0.8);
}

.resumen-academico .contenedor-resumen .titulo-resumen {
  color: rgba(0, 0, 0, 0.5);
}

.sub-contendor-resumen {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.horario-estudiante {
  height: auto;
  width: 200px;
  max-width: 100%;
  flex: 1;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.horario-scroll {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.horario-estudiante h1 {
  background-color: transparent;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-align: center;
}

.horario-estudiante table {
  width: 100%;
  border-collapse: separate; /* 👈 importante */
  border-spacing: 8px;
  padding: 2rem;
  padding-top: 0;
}

.horario-estudiante th,
.horario-estudiante td {
  padding: 12px;
  text-align: center;
  background-color: #eee;
}

.horario-estudiante th {
  border-radius: 1rem;
  padding: 8px;
}

.horario-estudiante td {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.horario-estudiante tr td:first-child {
  font-weight: normal;
  box-shadow: none;
  background-color: transparent;
}

.horario-estudiante thead tr th {
  background-color: transparent;
}

.horario-estudiante td:not(:empty) {
  transition: 0.2s ease;
}

#horario td:not(:empty):hover {
  transform: scale(1.04);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-estudiante {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  gap: 1rem;
  background-color: #0e74d3;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-estudiante h1 {
  margin: 0;
}

.avatar-ring {
  position: relative;
  width: 120px;
  height: 120px;
}

.avatar-ring svg {
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}

.ring-bg {
  fill: none;
  stroke: #ffffff40;
  stroke-width: 8;
}

.ring-progress {
  fill: none;
  stroke: #ffffff;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dasharray: 339;
  stroke-dashoffset: 80; /* ← porcentaje */
  transition: stroke-dashoffset 0.6s ease;
}

.avatar {
  position: absolute;
  inset: 12px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar span {
  font-size: 1.5rem;
  font-weight: bold;
}

.contenedor-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contenedor {
  width: auto;
  height: auto;
  flex: 1;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  padding: 2rem;
}

.tareas-pendientes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tareas-pendientes h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 600;
}

.contenedor-tareas {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tarea {
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  border: #0620391d 1px solid;
  display: flex;
  flex-direction: column;
}

.info-tarea {
  display: flex;
}

.tarea h4 {
  margin: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  main {
    margin: 0;
    padding: 1rem;
  }

  aside {
    position: fixed;
    height: fit-content;
    top: auto;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    bottom: -1px;
    padding: 0;
    margin: 0;
    z-index: 9999;
    box-shadow: 0 -1px 5x rgba(0, 0, 0, 0.2);
  }

  aside nav {
    flex-direction: row;
    justify-content: space-around;
  }

  aside .logo {
    display: none;
  }

  aside nav ul {
    flex-direction: row;
  }

  aside nav ul li a span {
    display: none;
  }

  .horario-estudiante table {
    min-width: 700px; /* fuerza scroll */
    padding: 1rem;
  }

  .horario-estudiante h1 {
    font-size: 1.2rem;
    padding: 0.75rem;
  }

  .horario-estudiante th,
  .horario-estudiante td {
    font-size: 13px;
    padding: 8px;
  }

  /* hover no aplica en móvil */
  #horario td:not(:empty):hover {
    transform: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  }
}
