
      <div class="header-dashboard">
        <h1>
          ¡Hola,
          <span data-estudiante="nombre"></span>! 👋
        </h1>
        <p>Aquí puedes ver tu información personal y tus actividades.</p>
      </div>
      <div class="dashboard">
        <div class="flex-column">
          <div class="resumen-academico">
            <div class="contenedor-resumen">
              <span class="titulo-resumen">CURSO</span>
              <div class="sub-contendor-resumen">
                <div class="curso" data-estudiante="curso"></div>
              </div>
            </div>
            <div class="contenedor-resumen">
              <span class="titulo-resumen">JORNADA</span>
              <div class="sub-contendor-resumen">
                <span data-estudiante="jornada"></span>
              </div>
            </div>
            <div class="contenedor-resumen">
              <span class="titulo-resumen">PROMEDIO</span>
              <div class="sub-contendor-resumen">
                <span data-estudiante="promedio">6.4</span>
              </div>
            </div>
            <div class="contenedor-resumen">
              <span class="titulo-resumen">PENDIENTES</span>
              <div class="sub-contendor-resumen">
                <span data-estudiante="pendientes">0</span>
              </div>
            </div>
          </div>
          <div class="contenedor-1">
            <div class="horario-estudiante">
              <h1>Horario de clases</h1>
              <div class="horario-scroll">
                <table id="horario">
                  <thead>
                    <tr>
                      <th>Hora</th>
                      <th>Lunes</th>
                      <th>Martes</th>
                      <th>Miércoles</th>
                      <th>Jueves</th>
                      <th>Viernes</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="contenedor-2">
          <div class="card-estudiante">
            <span>Progreso del semestre</span>
            <div class="avatar-ring">
              <svg viewBox="0 0 120 120">
                <!-- fondo -->
                <circle class="ring-bg" cx="60" cy="60" r="54" />
                <!-- progreso -->
                <circle class="ring-progress" cx="60" cy="60" r="54" />
              </svg>
              <div class="avatar">
                <span id="progress-text"></span>
              </div>
            </div>

            <div style="text-align: center">
              <h1>
                <span data-estudiante="nombre-apellido"></span>
              </h1>
              <span>Estudiante</span>
            </div>
          </div>
          <div class="contenedor-1">
            <div class="contenedor tareas-pendientes">
              <h2>Tareas pendientes</h2>
              <div class="contenedor-tareas">
                <div class="tarea">
                  <h4 class="titulo-tarea">Ejercicios de Álgebra</h4>
                  <div class="info-tarea">
                    <span class="asignatura-tarea">Matemáticas</span>
                    <span class="fecha-tarea"
                      >Fecha de entrega: 10-04-2026</span
                    >
                  </div>
                </div>
                <div class="tarea">
                  <h4 class="titulo-tarea">Ejercicios de Álgebra</h4>
                  <div class="info-tarea">
                    <span class="asignatura-tarea">Matemáticas</span>
                    <span class="fecha-tarea"
                      >Fecha de entrega: 10-04-2026</span
                    >
                  </div>
                </div>
                <div class="tarea">
                  <h4 class="titulo-tarea">Ejercicios de Álgebra</h4>
                  <div class="info-tarea">
                    <span class="asignatura-tarea">Matemáticas</span>
                    <span class="fecha-tarea"
                      >Fecha de entrega: 10-04-2026</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
