:root {
    --primarycolor: #eee;
    --secondarycolor: #035bad;
    --tertiarycolor: #023c72;
    --green: #03ad77;
}

@font-face {
    font-family: 'Outfit';
    src: url('/assets/font/Outfit-Regular.ttf') format('truetype');
}

@view-transition {
    navigation: auto;
    duration: 0.5s;
}

body {
    margin: 0;
    padding: 0;
    --bs-body-font-family: 'Outfit' !important;
    --bs-body-color: var(--primarycolor);
}

h1 {
    font-weight: bold !important;
    font-size: 2em !important;
} 


h2 {
    font-weight: bold !important;
    font-size: 1.5em !important;
} 



a {
    text-decoration: none !important;
    color: inherit !important;
}

.navegador {
    width: 100%;
    position: fixed;
    
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    padding: 1rem 2rem;
    width: auto;
    top: 0rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--secondarycolor);
    animation: from-above 1s linear;
    animation-timeline: scroll();
    animation-range: 0% 10%;
    animation-fill-mode: both;
    z-index: 1000;
    line-height: 1.25;
}

nav h1 {
    font: 900 2rem Lalezar, sans-serif;
    color: white;
    margin: 0;
    letter-spacing: 0.05rem;
}


@keyframes from-above {
    from {
        border-radius: 1rem;
        margin-top: 1rem;
    }
    to {
        border-radius: 0rem 0rem 2rem 2rem;
        margin-top: 0rem;
    }
    
}

nav img {
    height: 50px;
    width: 50px;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    padding: 0.25rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul li a {
    font: 400 1rem Outfit, sans-serif;
    color: #F9F7F0;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    text-decoration: none;
    transition: 0.3s ease;
    outline: 1px solid transparent;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.carousel-item img {
    max-height: 800px;     /* el alto que quieras */
    object-fit: cover; /* recorta sin deformar */
}

.carousel-caption {
    background: #0122429c;
    backdrop-filter: blur(15px);
    outline: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    bottom: 3rem !important;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    flex-direction: column;
    align-items: center;
}

.carousel-caption p {
    margin-bottom: 1rem !important;
}

.carousel-caption .boton-navegacion {
    width: fit-content;
}

.boton-navegacion {
    padding:1rem 2rem ;
    background-color: var(--green);
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.contenedor-logo-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 200px;
    font-size: 0.9rem;
}

.boton-navegacion:hover {
    background-color: #02a66a;
}

footer {
    height: 400px;
    background-color: var(--tertiarycolor);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .carousel-item img {
        height: 400px;     /* el alto que quieras */
        object-fit: cover; /* recorta sin deformar */
    }
}