:root {
    --primarycolor: #eee;
    --secondarycolor: #035bad;
    --tertiarycolor: #023c72;
    --green: #03ad77;
}

@font-face {
    font-family: 'Outfit';
    src: url('/assets/font/Outfit-Regular.ttf') format('truetype');
}

@view-transition {
    navigation: auto;
    duration: 0.5s;
}

body {
    margin: 0;
    padding: 0;
    --bs-body-font-family: 'Outfit' !important;
    --bs-body-color: var(--primarycolor);
}

.bg-blue {
    background-color: var(--tertiarycolor) !important;
}

h1 {
    font-weight: bold !important;
    font-size: 2em !important;
} 


h2 {
    font-weight: bold !important;
    font-size: 1.5em !important;
} 



a {
    text-decoration: none !important;
    color: inherit !important;
}

.abrir-navegacion {
    background-color: var(--secondarycolor);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: 500;
}

.link {
    font-weight: 400;
    padding: 0.35rem 1rem;
    transition: 0.2s ease;
    display: inline-flex;
    align-items: center;
    border-radius: 1rem;
    outline: 1px solid;
}

.link .arrow-icon {
    transform: rotate(90deg);
}

.link:hover {
    text-decoration: underline !important;
    background-color: #023c72;
}

.navegador {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.datos {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 1rem 0 1rem;
    z-index: 9;
    
}

.contenedor-datos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    color: var(--primarycolor);
    font-size: 0.9rem;
    background-color: var(--tertiarycolor);
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    padding: 1rem 2rem;
    width: auto;
    margin: 0rem 1rem 0rem 1rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: var(--secondarycolor);
    animation: from-above 1s linear;
    animation-timeline: scroll();
    animation-range: 0% 10%;
    animation-fill-mode: both;
    z-index: 1000;
    line-height: 1.25;
}

button {
    cursor: pointer;
    color: white;
}


nav h1 {
    font: 900 2rem Lalezar, sans-serif;
    color: white;
    margin: 0;
    letter-spacing: 0.05rem;
}


@keyframes from-above {
    from {
        border-radius: 1rem;
    }
    to {
        border-radius: 0rem 0rem 2rem 2rem;
    }
    
}

nav img {
    height: 50px;
    width: 50px;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    padding: 0.25rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav ul li a {
    font: 400 1rem Outfit, sans-serif;
    color: #F9F7F0;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    text-decoration: none;
    transition: 0.3s ease;
    outline: 1px solid transparent;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.lista-navegacion {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.lista-navegacion li {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 1rem;
}

.lista-navegacion li:active {
    background-color: rgba(0, 0, 0, 0.25);
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.carousel-item img {
    max-height: 650px;     /* el alto que quieras */
    object-fit: contain; /* recorta sin deformar */
}

.carousel-caption {
    background: #0122429c;
    backdrop-filter: blur(15px);
    outline: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    bottom: 50% !important;
    transform: translateY(50%);
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    flex-direction: column;
    align-items: center;
}

.carousel-caption p {
    margin-bottom: 1rem !important;
}

.carousel-caption .boton-navegacion {
    width: fit-content;
}

.carousel-control-prev, .carousel-control-next {

}

.carousel-control-prev span, .carousel-control-next span {
    background-color: #023c72 !important;
    background-size:50% !important;
    background-position: center !important;
    border-radius: 100%;
}

.boton-navegacion {
    padding:1rem 2rem ;
    background-color: var(--green);
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.contenedor-logo-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 200px;
    font-size: 0.9rem;
}

.contenedor-logo-nav img.logo {
    height: 50px;
    width: 50px;
}

.boton-navegacion:hover {
    background-color: #02a66a;
}

footer {
    height: 400px;
    background-color: var(--tertiarycolor);
}

@media (max-width: 768px) {
    nav {
        gap: 1rem;
        margin: 0 0 1rem 0;
    }

    nav ul {
        overflow: scroll;
    }

    .carousel-item img {
        height: 400px;     /* el alto que quieras */
        object-fit: cover; /* recorta sin deformar */
    }

    .contenedor-datos {
        justify-content: center;
    }
}