:root {
  --primarycolor: #eee;
  --secondarycolor: #035bad;
  --tertiarycolor: #023c72;
  --green: #03ad77;
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/font/Outfit-Regular.ttf") format("truetype");
}

@view-transition {
  navigation: auto;
  duration: 0.5s;
}

body {
  margin: 0;
  padding: 0;
  --bs-body-font-family: "Outfit" !important;
  --bs-body-color: var(--primarycolor);
  --bs-body-bg: var(--primarycolor);
}

section {
  scroll-margin-top: 150px;
}

.btn-float {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}

#fondoSlider {
  position: relative;
}

#fondoSlider .slider-img {
  position: absolute;
  top: 0;
  inset: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  transition: opacity 1.5s ease-in-out;
  animation: zoom 12s ease-in-out infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

#fondoSlider .slider-img.active {
  opacity: 1;
}

.flex-1 {
  flex: 1;
}

.color-primary {
  color: var(--primarycolor) !important;
}

.color-secondary {
  color: var(--secondarycolor) !important;
}

.backdrop-blur {
  backdrop-filter: blur(5px) !important;
}

.color-tertiary {
  color: var(--tertiarycolor) !important;
}
.bg-1 {
  background-color: var(--primarycolor) !important;
}

.bg-2 {
  background-color: var(--secondarycolor) !important;
}

.bg-blue {
  background-color: var(--tertiarycolor) !important;
}

.bg-3 {
  background-color: var(--green) !important;
}

h1 {
  font-weight: bold !important;
  font-size: 2em !important;
}

h2 {
  font-weight: bold !important;
  font-size: 1.5em !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.abrir-navegacion {
  background-color: var(--secondarycolor);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
}

.link {
  font-weight: 400;
  padding: 0.35rem 1rem;
  transition: 0.2s ease;
  display: inline-flex;
  align-items: center;
  border-radius: 1rem;
  outline: 1px solid;
}

.link .arrow-icon {
  transform: rotate(90deg);
}

.link:hover {
  text-decoration: underline !important;
  background-color: rgba(0, 0, 0, 0.08);
}

.link-simple {
  font-weight: 400;
}

.link-simple:hover {
  text-decoration: underline !important;
}

.navegador {
  width: 100%;
  min-height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu {
  display: block;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease;
  visibility: hidden;
  background-color: var(--tertiarycolor) !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.dropdown-menu li {
  width: 100%;
  margin: 0;
}

.dropdown-menu a {
  background-color: transparent;
  width: 100%;
  display: block;
  border-radius: 0;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
}

.datos {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  min-height: 40px;
  justify-content: space-around;
  gap: 0.5rem;
  background-color: #eee;
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contenedor-datos {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 1rem 2rem;
  color: var(--tertiarycolor);
  font-weight: 600;

  font-size: 0.9rem;
  border-radius: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  padding: 1rem 2rem;
  width: auto;
  margin: 1rem 1rem 1rem 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--secondarycolor);
  animation: from-above 1s linear;
  animation-timeline: scroll();
  animation-range: 0% 10%;
  animation-fill-mode: both;
  z-index: 1000;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

button {
  background-color: #03ad77;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: Outfit, sans-serif;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.35),
    inset 0 0 2px rgba(255, 255, 255, 0.8);
  transition: 0.2s ease;
}

nav h1 {
  font:
    900 2rem Lalezar,
    sans-serif;
  color: white;
  margin: 0;
  letter-spacing: 0.05rem;
}

@keyframes from-above {
  from {
    border-radius: 1rem;
  }
  to {
    border-radius: 0rem 0rem 2rem 2rem;
  }
}

nav img {
  height: 50px;
  width: 50px;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  padding: 0.25rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav ul li a {
  font:
    400 1rem Outfit,
    sans-serif;
  color: #f9f7f0;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  text-decoration: none;
  transition: 0.3s ease;
  outline: 1px solid transparent;
}

.btn-nav {
  font:
    400 1rem Outfit,
    sans-serif;
  color: #f9f7f0;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  border: none;
  text-decoration: none;
  transition: 0.3s ease;
  outline: 1px solid transparent;
  box-shadow: none;
}

.btn-nav:hover {
  background-color: rgba(0, 0, 0, 0.25);
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.25);
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.lista-navegacion {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.lista-navegacion li {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 1rem;
}

.lista-navegacion li:active {
  background-color: rgba(0, 0, 0, 0.25);
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.carousel-item img {
  max-height: 650px; /* el alto que quieras */
  object-fit: contain; /* recorta sin deformar */
}

.carousel-caption {
  background: #0122429c;
  backdrop-filter: blur(15px);
  outline: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  bottom: 50% !important;
  left: 20% !important;
  transform: translateY(50%);
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  flex-direction: column;
  align-items: center;
}

.carousel-caption p {
  margin-bottom: 1rem !important;
}

.carousel-caption .boton-navegacion {
  width: fit-content;
}

.carousel-control-prev span,
.carousel-control-next span {
  background-color: #023c72 !important;
  background-size: 50% !important;
  background-position: center !important;
  border-radius: 100%;
}

.boton-navegacion {
  padding: 1rem 2rem;
  background-color: var(--green);
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: 2px solid transparent;
  transition: 0.2s ease;
}

.contenedor-logo-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 200px;
  font-size: 0.9rem;
}

.contenedor-logo-nav img.logo {
  height: 50px;
  width: 50px;
}

.boton-navegacion:hover {
  background-color: #02a66a;
  scale: 1.05;
  outline: 2px solid rgba(255, 255, 255, 0.75);
}

footer {
  background-color: var(--tertiarycolor);
}

.contenedor-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--primarycolor);
  display: flex;
  gap: 5rem;
}

.contenedor-footer-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.seccion-footer {
  flex: 1;
}

.seccion-footer img {
  height: 100px;
}

.contenedor-card-modalidad {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card-modalidad {
  padding: 1rem;
  width: 150px;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.5);
  flex: 1;
  position: relative;
  transition: 0.2s ease;
  background-color: var(--background);
}

.card-curso {
  outline: 2px solid transparent;
  transition: 0.2s ease;
}

.card-curso:hover {
  scale: 1.05;
  outline: 2px solid rgba(255, 255, 255, 0.5);
}

.card-modalidad img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  width: 50px;
}

.card-modalidad h2 {
  font-size: 1.5rem;
}

.mañana {
  background: linear-gradient(45deg, #0568c4, #168af6, #0568c4, #0568c4);
  background-size: 400% 400%;
  animation: gradient-background 8s ease infinite;
}

.tarde {
  background: linear-gradient(45deg, #054d91, #0662b7, #054d91, #054d91);
  background-size: 400% 400%;
  animation: gradient-background 8s ease infinite;
}

.noche {
  background: linear-gradient(45deg, #012d55, #023c72, #012d55, #012d55);
  background-size: 400% 400%;
  animation: gradient-background 8s ease infinite;
}

.form-simple {
  background-color: var(--secondarycolor);
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  display: flex;
  color: white;
  flex-direction: column;
}

.form-simple input,
.form-simple textarea {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(255 255 255 / 20%);
  outline: 1px solid transparent;
  transition: 0.3s ease;
  color: white;
}

.form-simple input::placeholder,
.form-simple textarea::placeholder {
  color: rgba(255 255 255 / 70%);
}

select {
  width: 100%;
  padding: 0.5rem 1rem;
  font:
    300 1rem outfit,
    sans-serif;
  background: #03ad77;
  border-radius: 1rem;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.35),
    inset 0 0 2px rgba(255, 255, 255, 0.8);
  color: white;
  position: relative;
  border: none;
  margin-bottom: 1rem;
}

select:focus {
  outline: none;
  filter: brightness(1);
  transition: all 0.3s ease-in-out;
}

.img-hover-zoom {
  transition: transform 0.2s;
  cursor: pointer;
}
.img-hover-zoom:hover {
  transform: scale(1.05);
}

.contenedor-cursos {
  display: flex;
  gap: 1rem;
}

.contenedor-cursos .curso {
  padding: 0.5rem 1rem;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
}

.contenedor-cursos .curso:nth-child(1) {
  background-color: rgb(13, 167, 97);
}

.contenedor-cursos .curso:nth-child(2) {
  background-color: rgb(56, 145, 233);
}

.contenedor-cursos .curso p {
  margin: 0;
}

.instagram-media {
  min-width: unset !important;
  max-width: 100% !important;
  width: 600px !important; /* Ancho fijo */
  margin: 0 auto !important;
}

/* Para hacerlo responsive */
.instagram-container {
  max-width: 500px;
  margin: 0 auto;
}

.instagram-container .instagram-media {
  width: 100% !important;
}

/* Reducir tamaño específico */
.small-instagram {
  transform: scale(0.8);
  transform-origin: top left;
}

.foto-galeria {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
  transition: transform 0.2s;
  cursor: pointer;
}

@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  nav {
    gap: 1rem;
    margin: 1rem 0 1rem 0;
  }

  nav ul {
    overflow: scroll;
  }

  .carousel-item img {
    height: 400px; /* el alto que quieras */
    object-fit: cover; /* recorta sin deformar */
  }

  .contenedor-datos {
    justify-content: center;
  }
}
