html {
    background-color: var(--primarycolor);
}

body {
    --bs-body-bg: var(--primarycolor);
}

header {
    background-color: var(--primarycolor);
    color: white;
    height: 600px;
    border: 1px solid red;
}

main {
    background-color: var(--secondarycolor);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inicio-rapido {
    display: flex;
    justify-content: center;
    padding: 2rem;
    outline: 1px solid rgba(255 255 255 / 25%);
    width: 100%;
    margin-bottom: 2rem;
    background: var(--tertiarycolor);
}

.inicio-rapido ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.inicio-rapido a {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    transition: 0.2s ease;
    max-width: 125px;
    text-align: center;
}

.inicio-rapido ul li:hover {
    scale: 1.1;
}

.inicio-rapido ul li {
    width: 75px;
    height: 75px;
    padding: 1rem;
    border-radius: 100%;
    background: var(--color);
    box-shadow: 0 0 1rem rgba(0 0 0 / 25%);
    transition: 0.2s ease;
}

.inicio-rapido ul li img {
    height: 100%;
    width: 100%;
}

.presentacion {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin: 2rem;
}

.presentacion .descripcion-1 {
    flex: 1;
}

.presentacion .descripcion-1 h1 {
    font-weight: 400;
    margin-bottom: 1rem;
}

.presentacion .descripcion-1 h2 {
    font-size: 1.5rem;
    background-color: rgba(255 255 255 / 25%);
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.presentacion .descripcion-2 {
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    
    
}

.contenedor-card-modalidad {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card-modalidad {
    padding: 1rem;
    width: 150px;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.5);
    flex: 1;   
    position: relative;
    transition: 0.2s ease;
}

.card-modalidad img {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    width: 50px;
}

.card-modalidad h2 {
    font-size: 1.5rem;
}

.mañana {
    background: linear-gradient(45deg, rgba(255 255 255 / 15%), rgba(255 255 255 / 35%), rgba(255 255 255 / 15%), rgba(255 255 255 / 15%));
    background-size: 400% 400%;
    animation: gradient-background 8s ease infinite;
}

.tarde {
    background: linear-gradient(45deg, rgba(255 255 255 / 10%), transparent, rgba(255 255 255 / 10%), rgba(255 255 255 / 10%));
    background-size: 400% 400%;
    animation: gradient-background 8s ease infinite;
}

.noche {
    background: linear-gradient(45deg, rgba(0 0 0 / 15%), rgba(0 0 0 / 35%), rgba(0 0 0 / 15%), rgba(255 255 255 / 15%));
    background-size: 400% 400%;
    animation: gradient-background 8s ease infinite;
}

@keyframes gradient-background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card-modalidad h2 {
    margin-top: 0;
}

.contenedor-cursos {
    display: flex;
    gap: 1rem;
}

.contenedor-cursos .curso {
    padding: 0.5rem 1rem;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
}

.contenedor-cursos .curso:nth-child(1) {
    background-color: rgb(13, 167, 97);
}

.contenedor-cursos .curso:nth-child(2) {
    background-color: rgb(56, 145, 233);
}

.contenedor-cursos .curso p {
    margin: 0;
}

.matriculas {
    background-color: rgba(0 0 0 / 25%);
    color: white;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    margin: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
    margin: 2rem;
}

.matriculas .descripcion-1, .matriculas .descripcion-2 {
    flex: 1;
}

.matriculas .descripcion-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.matriculas .descripcion-2 .boton-navegacion {
    align-self: start;
}

.noticias {
    min-height: 600px;
    width: 100%;
    color: var(--tertiarycolor);
    background-color: var(--primarycolor);
    z-index: 9;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
}

.noticias .descripcion-1 {
    flex: 1;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.contacto {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

.contacto .descripcion-1, .contacto .descripcion-2 {
    flex: 1;
}

.lista-contacto {
    list-style: none;
    padding: 0;
}

.lista-contacto li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.contacto .descripcion-2 form {
    background-color: var(--tertiarycolor);
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
}

.contacto .descripcion-2 form input, .contacto .descripcion-2 form textarea {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(255 255 255 / 20%);
    outline: 1px solid transparent;
    transition: 0.3s ease;
    color: white;
}

.contacto .descripcion-2 form input::placeholder, .contacto .descripcion-2 form textarea::placeholder {
    color: rgba(255 255 255 / 75%);
}

.contacto .descripcion-2 form input:focus, .contacto .descripcion-2 form textarea:focus {
    outline: 1px solid var(--primarycolor);
    box-shadow: 0 0 1rem rgba(0 0 0 / 25%);
}
