<div class="contenedor-form" id="form-evaluacion">
  <button class="cerrar-modal" data-cerrar="form-evaluacion">
    <img src="/assets/icons/close.svg" alt="" />
  </button>
  <form id="formEvaluacion">
    <h2>Crear evaluación</h2>
    <div>
      <label>Título</label>
      <input type="text" id="titulo" placeholder="Título" required />
    </div>

    <div>
      <label>Descripción</label>
      <textarea id="descripcion"></textarea>
    </div>

    <div>
      <label>Curso y Asignatura</label>
      <select id="cursoProfesorSelect" required>
        <option value="">Cargando...</option>
      </select>
    </div>

    <div>
      <label>Tipo de Evaluación</label>
      <select id="tipoSelect" required>
        <option value="">Cargando...</option>
      </select>
    </div>

    <div>
      <label>Fecha de Aplicación</label>
      <input type="date" id="fecha" />
    </div>

    <button type="submit">Crear Evaluación</button>
  </form>
</div>

<div class="header-dashboard">
  <div>
    <h2>Evaluaciones</h2>
    <p>Aquí puedes ver las evaluaciones de todos tus cursos.</p>
  </div>
  <div class="boton-dashboard">
    <button data-abrir="form-evaluacion">+ Crear evaluación</button>
  </div>
</div>

<div class="contenedor-principal">
  <div class="evaluaciones-container">
    <div>
      <select id="filtroCurso">
        <option value="">Seleccionar</option>
      </select>
    </div>
    <div id="listaEvaluaciones" class="lista-evaluaciones">
      <p>Selecciona el curso y la asignatura correspondiente.</p>
    </div>
  </div>

  <div class="contenedor-detalle">
    <div id="header-detalle"></div>
    <div id="detalleEvaluacion" class="detalle-evaluacion"></div>
  </div>
</div>

<div id="mensaje"></div>
