<form id="formEvaluacion" hidden>
  <div>
    <label>Título</label>
    <input type="text" id="titulo" required />
  </div>

  <div>
    <label>Descripción</label>
    <textarea id="descripcion"></textarea>
  </div>

  <div>
    <label>Curso y Asignatura</label>
    <select id="cursoProfesorSelect" required>
      <option value="">Cargando...</option>
    </select>
  </div>

  <div>
    <label>Tipo de Evaluación</label>
    <select id="tipoSelect" required>
      <option value="">Cargando...</option>
    </select>
  </div>

  <div>
    <label>Fecha de Aplicación</label>
    <input type="date" id="fecha" />
  </div>

  <button type="submit">Crear Evaluación</button>
</form>

<div class="header-dashboard">
  <h2>
    Evaluaciones
  </h2>
  <p>Aquí puedes ver las evaluaciones de todos tus cursos.</p>
</div>

<div class="contenedor-principal">
  <div class="evaluaciones-container flex-column">
  <div>
    <select id="filtroCurso">
      <option value="">Seleccionar</option>
    </select>
  </div>
  <div id="listaEvaluaciones" class="lista-evaluaciones">
    <p>Selecciona el curso y la asignatura correspondiente.</p>
  </div>
  
</div>

<div class="contenedor-detalle">
  <div class="header-detalle">
    <div class="infoEvaluacion" id="infoEv">    
    </div>
    <h3 id="tituloEv">Seleccione una evaluación</h3>
    <p id="descEv">Para visualizar las notas de sus estudiantes</p>
  </div>
  <div id="detalleEvaluacion" class="detalle-evaluacion">
  </div>
  
</div>



</div>


<div id="mensaje"></div>
