
<div id="jefatura-contenido">


<div class="asignatura-header">
  <div
    class="asignatura-detalle"
    id="asignatura-detalle"
    style="view-transition-name: asignatura"
  >
    <div class="detalle">
      <div id="curso-asignatura"></div>
      <h2
        id="nombre-asignatura"
        style="view-transition-name: asignatura-titulo"
      ></h2>
      <p id="profesor"></p>
    </div>

    <div class="asignatura-icon">
      <img id="asignatura-icon" src="" alt="" />
    </div>
    <div class="contenedor-promedio"></div>
  </div>
  <div class="asignatura-navegacion">
    <button id="btn-inicio" class="seleccionado">Inicio</button>
    <button id="btn-material">Material</button>
  </div>
</div>

<div class="contenedor-principal" id="curso-contenido"></div>
</div>