:root {
  --primarycolor: #eee;
  --secondarycolor: #035bad;
  --tertiarycolor: #023c72;
  --green: #03ad77;
}

@font-face {
  font-family: Outfit;
  src: url("/assets/font/Outfit-Regular.ttf");
}

.mensaje-error {
  background-color: rgba(240, 27, 27, 0.5);
  border: 1px solid rgba(240, 27, 27, 0.8);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.contenedor-botones {
  display: flex;
  margin-bottom: 1rem;
  gap: 0.25rem;
}

.btn-simple {
  width: fit-content;
  border: 0;
  display: flex;
  align-items: center;
}

.btn-simple-blanco {
  width: fit-content;
  border: 0;
  display: flex;
  background-color: white;
  align-items: center;
}

.btn-simple-blanco img {
  opacity: 0.9;
  height: 18px;
}

.btn-mini {
  width: 30px;
  height: 30px;
  padding: 0.25rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-mini img {
  height: 15px;
}

.btn-afirmativo {
  background-color: #03ad77;
  color: white;
}

.btn-negativo {
  background-color: #eb3b3b;
  color: white;
}

.flex-align {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

select:focus {
  outline: 2px solid rgba(0, 0, 0, 0.2);
}

.cerrar-contenedor {
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  top: 0;
  right: 0;
  margin: 1rem;
  background-color: #035bad;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cerrar-contenedor:hover {
  background-color: #eb3b3b;
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.cerrar-contenedor img {
  height: 80%;
  pointer-events: none;
}

.contenedor-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 99999999;
}

.contenedor-modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-evaluacion {
  display: inline-block;
  position: relative;
  cursor: help;
  background-color: #023c72;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.info-evaluacion:hover {
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.badge-coef {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #eb3b3b;
  border-radius: 100%;
}

.tabla-estudiantes.tabla-notas thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* necesario para que no se vea transparente al hacer scroll */
  z-index: 2;
  border: none;
  text-align: center; /* centra horizontalmente */
  vertical-align: middle;
}

.tabla-estudiantes.tabla-notas thead th:nth-child(2) {
  text-align: left;
}

.tabla-estudiantes.tabla-notas td:nth-child(2) {
  text-align: left;
}

.tabla-estudiantes.tabla-notas td {
  text-align: center; /* centra horizontalmente */
  vertical-align: middle;
}

.tabla-estudiantes.tabla-notas thead th::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.icon-estudiante {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.icon-pendiente {
  height: 20px;
  margin-right: 5px;
  opacity: 0.75;
}

.td-central {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pendiente {
  position: relative;
}

.pendiente::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -20px;
  background-image: url("/assets/icon/fluent-color--warning-16.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
