<div class="asignatura-header">
  <button class="volver" id="volver">
    <img src="/assets/icon/arrow.svg" alt="" />
    Volver
  </button>
  <div
    class="asignatura-detalle"
    id="curso-detalle"
    style="view-transition-name: asignatura"
  >
    <div>
      <span id="curso-niveles"></span>
      <h2
        id="nombre-curso"
        style="view-transition-name: asignatura-titulo"
      ></h2>
      <p id="profesor"></p>
    </div>

    <div class="asignatura-icon">
      <img id="asignatura-icon" src="" alt="" />
    </div>
    <div class="contenedor-promedio"></div>
  </div>
  <div class="asignatura-navegacion">
    <button id="btn-inicio" class="seleccionado">Inicio</button>
    <button id="btn-notas">Notas</button>
    <button id="btn-tareas">Tareas</button>
  </div>
</div>

<div class="contenedor-principal" id="asignatura-contenido"></div>
