<div class="header-dashboard">
  <div>
    <h2>Horario</h2>
    <p>Aquí podrás modificar el horario general de todos los cursos.</p>
  </div>
</div>

<select id="selectCursoHorario">
  <option value="">Seleccionar curso</option>
</select>

<div class="contenedor-horario">
  <table id="horario">
    <thead>
      <tr>
        <th>Hora</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
