html,
body {
  margin: 0;
  padding: 0;
  font-family: outfit, sans-serif !important;
  background-color: var(--primarycolor, #eee) !important;
}

@view-transition {
  navigation: auto;
}

body {
  margin: 0;
  padding: 0;
  --bs-body-font-family: "Outfit" !important;
  --bs-body-bg: var(--primarycolor);
}

h1 {
  font-weight: bold !important;
  font-size: 2em !important;
  margin-block-start: 0.67em !important;
  margin-block-end: 0.67em !important;
}

h2 {
  font-weight: bold !important;
  font-size: 1.5em !important;
}

.curso {
  width: fit-content;
  background-color: #035bad;
  color: #eee;
  box-shadow: inset;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.5),
    inset 0 0 2px rgba(255, 255, 255, 0.5);
  z-index: 999;
  position: relative;
}

.flex-1 {
  flex: 1;
}

.color-primary {
  color: var(--primarycolor) !important;
}

.color-secondary {
  color: var(--secondarycolor) !important;
}

.backdrop-blur {
  backdrop-filter: blur(5px) !important;
}

.color-tertiary {
  color: var(--tertiarycolor) !important;
}
.bg-1 {
  background-color: var(--primarycolor) !important;
}

.bg-2 {
  background-color: var(--secondarycolor) !important;
}

.bg-blue {
  background-color: var(--tertiarycolor) !important;
}

.bg-3 {
  background-color: var(--green) !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

body {
  display: flex;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(2, 56, 106, 0.35);
  border-radius: 10px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(2, 56, 106, 0.5);
}

aside {
  width: auto;
  background-color: var(--secondarycolor, #035bad);
  margin: 1rem;
  color: white;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  position: sticky;
  top: 0;
}

aside nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

aside nav ul li {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

aside nav ul li:first-child img {
  opacity: 100%;
  height: 50px;
}

aside nav ul li:first-child {
  justify-content: center;
  margin: 1rem 0;
}

aside nav ul li img {
  opacity: 35%;
}

aside nav ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
}

.aside-logout {
  margin: 1rem 0;
}

.aside-logout img {
  height: 35px;
}

aside nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

aside nav ul li.seleccionada {
  background-color: rgba(0, 0, 0, 0.35);
}

aside nav ul li.seleccionada img {
  opacity: 100%;
}

.nav-bottom {
  display: none;
}

.icon {
  height: 35px;
}

a {
  color: white;
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
}

.contenedor-principal {
  display: flex;
  gap: 1rem;
  flex: 1;
  height: 100%;
  flex-wrap: wrap;
}

.section {
  background-color: var(--secondarycolor, #035bad);
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
  flex: 1;
  min-width: 200px;
}

.contenedor-informacion {
  margin-bottom: 1rem;
}

.contenedor-interno-1 {
  display: flex;
  flex-direction: column;
}

.cursos-list {
  list-style: none;
  padding: 0;
}

.cursos-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.jefatura {
  background-color: #03ad77;
}

.jefatura-badge {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  width: fit-content;
}

.horario {
  max-width: 800px;
  height: 400px;
  flex: auto;
}

.cursos-asignados {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.volver {
  width: fit-content;
  height: 35px;
}

.volver img {
  height: 100%;
  width: auto;
  transform: rotate(-90deg);
}

select {
  width: 100%;
  padding: 0.5rem 1rem;
  font:
    300 1rem outfit,
    sans-serif;
  background: #03ad77;
  border-radius: 1rem;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.35),
    inset 0 0 2px rgba(255, 255, 255, 0.8);
  color: white;
  position: relative;
}

select:focus {
  outline: none;
  filter: brightness(1);
  transition: all 0.3s ease-in-out;
}

#selector-curso {
  padding: 2rem;
}

.selector-curso {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

table {
  width: auto;
  margin-bottom: 20px;
  border-spacing: 5px;
  border-collapse: separate;
  background-color: rgba(3, 91, 173, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

th {
  background-color: #035bad;
  color: white;
  padding: 8px;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

td {
  padding: 8px;
  text-align: center;
  border: 0;
}

.estudiantes {
  background-color: #035bad;
  text-align: left;
  color: white;
  border-radius: 0.5rem;
}

table input {
  width: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  font-family: Outfit, sans-serif;
}

table input:focus {
  outline: none;
  border-color: #035bad;
  box-shadow: 0 0 5px rgba(3, 91, 173, 0.5);
}

.promedio {
  font-weight: bold;
  color: white;
  background-color: #035bad;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 0.5rem;
  height: fit-content;
}

.card-hover {
  outline: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: #035bad;
}

.card-hover:hover {
  scale: 1.025;
  outline: 2px solid rgba(0, 0, 0, 0.25);
}

.asignatura::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0%);
  z-index: 0;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  main {
    padding: 1rem;
  }

  aside {
    height: fit-content;
    position: fixed;
    margin: 0;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    top: auto;
    border-radius: 0;
  }

  aside nav {
    flex-direction: row;
    justify-content: space-around;
    width: auto;
  }

  aside nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: auto;
  }

  .nav-top {
    display: none;
  }

  .nav-bottom {
    display: flex;
    position: relative;
    padding: 1rem;
    width: auto;
  }

  .nav-bottom nav {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
