@font-face {
  font-family: Outfit;
  src: url("/assets/font/Outfit-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: outfit, sans-serif;
  background-color: var(--secondarycolor, #035bad);
}

body {
  display: flex;
  height: 100vh;
  font-family: outfit, sans-serif;
}

.volver {
  background-color: transparent;
  border: none;
  width: fit-content;
  font-family: outfit, sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #03519b;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  transition: 0.2s ease;
  outline: 1px solid transparent;
  cursor: pointer;
}

.volver img {
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
}

.volver:hover {
  outline: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.05);
}

aside {
  width: auto;
  background-color: var(--secondarycolor, #035bad);
  color: white;
  padding: 1rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  border-radius: 1rem;
  position: sticky;
  top: 0;
}

aside nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

aside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

aside nav ul li {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

aside nav ul li:first-child img {
  opacity: 100%;
  height: 50px;
}

aside nav ul li:first-child {
  justify-content: center;
  margin: 1rem 0;
}

aside nav ul li img {
  opacity: 35%;
}

aside nav ul li button {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-family: outfit, sans-serif;
  cursor: pointer;
}

.aside-logout {
  margin: 1rem 0;
}

.aside-logout img {
  height: 35px;
}

aside nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

aside nav ul li.seleccionada {
  background-color: rgba(0, 0, 0, 0.35);
}

aside nav ul li.seleccionada img {
  opacity: 100%;
}

.nav-bottom {
  display: none;
}

.icon {
  width: 25px;
}

a {
  color: white;
  text-decoration: underline;
}

main {
  flex: 1;
  background-color: #f9fafb;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: relative;
}

.header-dashboard {
  height: auto;
  padding: 0 0.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.boton-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.boton-dashboard button {
  background-color: var(--green);
  color: white;
  font-family: outfit;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 #d1cccc;
  font-size: 1rem;
  border-radius: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.boton-dashboard button:hover {
  scale: 1.05;
}

.boton-dashboard button:active {
  scale: 1;
}

main button {
  background-color: var(--green);
  color: white;
  font-family: outfit;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 #d1cccc;
  font-size: 1rem;
  border-radius: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}

main button:hover {
  filter: brightness(95%);
}

main button:active {
  scale: 0.98;
}

.header-dashboard h1 {
  font-size: 2rem;
  color: black;
}

.header-dashboard p {
  margin-bottom: 0;
}

.dashboard {
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  gap: 1rem;
  color: black;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

/* SECCION HORARIO */

.contenedor-horario table {
  width: 100%;
  border-collapse: separate; /* 👈 importante */
  border-spacing: 8px;
  padding: 2rem;
  padding-top: 0;
}

.contenedor-horario th,
.contenedor-horario td {
  padding: 12px;
  text-align: center;
  background-color: #eee;
}

.contenedor-horario th {
  border-radius: 1rem;
  padding: 8px;
}

.contenedor-horario td {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.contenedor-horario tr td:first-child {
  font-weight: normal;
  box-shadow: none;
  background-color: transparent;
}

.contenedor-horario thead tr th {
  background-color: transparent;
}

.contenedor-horario td:not(:empty) {
  transition: 0.2s ease;
}

#horario td:not(:empty):hover {
  transform: scale(1.04);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* SECCIÓN DE EVALUACIONES */

.contenedor-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  min-height: 0;
  overflow: auto;
  transition: 0.3s ease opacity;
}

.contenedor-form.activo {
  opacity: 1;
  pointer-events: all;
}

#formEvaluacion {
  margin: 2rem;
  border-radius: 18px;
  font-family: outfit;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#formEvaluacion h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #222;
}

#formEvaluacion div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#formEvaluacion label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #555;
}

#formEvaluacion input,
#formEvaluacion textarea,
#formEvaluacion select {
  padding: 0.75rem 0.9rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  outline: none;
  background-color: #fafafa;
  font-family: outfit;
}

#formEvaluacion textarea {
  resize: none;
  min-height: 90px;
  font-family: outfit;
}

#formEvaluacion input:focus,
#formEvaluacion textarea:focus,
#formEvaluacion select:focus {
  border-color: #6c63ff;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.15);
}

#formEvaluacion button {
  margin-top: 1rem;
  color: white;
  font-family: Outfit;
  padding: 1rem 1.5rem;
  background-color: #02a66a !important;
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: 2px solid transparent;
  transition: 0.2s ease;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

#formEvaluacion button:hover {
  background-color: #02a66a;
  outline: 2px solid rgba(255, 255, 255, 0.75);
}

#formEvaluacion button:active {
  transform: translateY(0);
  box-shadow: none;
}

#formEvaluacion.activo {
  scale: 1;
  opacity: 1;
}

#formEvaluacion h2 {
  margin-top: 0;
}

.cerrar-modal {
  width: 35px;
  height: 35px;
  background-color: #ec2138;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  transition: 0.2s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.cerrar-modal:hover {
  filter: brightness(90%);
}

.cerrar-modal:active {
  scale: 0.95;
}

.cerrar-modal img {
  pointer-events: none;
}

#filtroCurso {
  background: #126abd;
  color: white;
  font-family: outfit;
  padding: 1rem 1rem;
  border-radius: 1rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 #d1cccc;
}

.contenedor-principal {
  display: flex;
  min-height: 0;
  gap: 0.5rem;
  flex: 1;
  position: relative;
}

.evaluaciones-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  height: auto;
  border-radius: 1rem;
}

.lista-evaluaciones {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  flex: 1;
  border-radius: 1rem;
}

.card-evaluacion {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 #d1cccc;
  transition: 0.2s ease;
  cursor: pointer;
  outline: 1px solid transparent;
}

.card-evaluacion h4,
.card-evaluacion p {
  margin: 0;
}

.infoCardEv {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.card-evaluacion:hover {
  background-color: rgba(255, 255, 255, 0.5);
  outline: 1px solid transparent;
}

.card-evaluacion:active {
  scale: 0.98;
}

.card-evaluacion.seleccionado {
  background-color: #126abd;
  color: white;
  outline: 2px solid #126abd71;
}

.card-evaluacion.seleccionado:hover {
  scale: 1;
}

.contenedor-detalle {
  flex: 2;
  min-height: 0;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.detalle-evaluacion {
  background-color: rgba(0, 0, 0, 0.05);
  overflow: auto;
  gap: 0.5rem;
  flex: 1;
  border-radius: 0 0 1rem 1rem;
  min-height: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: 0.2s ease;
}

.header-detalle {
  background: #126abd;
  color: white;
  box-shadow: 0 1px 2px 0 #d1cccc;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1rem 1rem 0 0;
}

.infoEvaluacion {
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

#cursoEv {
  background-color: var(--color);
}

#asigEv {
  background-color: var(--color);
}

.infoEvaluacion span {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.15);
}

.header-detalle h3,
.header-detalle p {
  margin: 0;
}

.fila-estudiante {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 #2e2e2e6c;
}

.header-tabla {
  background-color: #126abd;
  position: sticky;
  top: 0;
  gap: 0.5rem;
  color: white;
  display: flex;
  justify-content: space-around;
}

.header-tabla span {
  padding: 0.5rem;
}

.header-tabla span:nth-child(1) {
  flex: 0.5;
  text-align: center;
}

.header-tabla span:nth-child(2) {
  flex: 4;
}

.header-tabla span:nth-child(3) {
  flex: 0.8;
  text-align: center;
}

.tabla-notas {
  width: 100%;
  border-collapse: collapse;
}

.tabla-notas th,
.tabla-notas td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.tabla-notas td:first-child {
  text-align: center;
}

.tabla-notas td:last-child {
  text-align: center;
}

.tabla-notas th {
  background: #f5f5f5;
  font-weight: 600;
}

.tabla-notas tr:hover {
  background: #fafafa;
}

.tabla-notas input {
  padding: 0.5rem;
  width: 20px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  border-radius: 0.5rem;
  border: none;
  box-shadow: inset 0 1px 2px 0 #bec3c9;
  font-family: outfit, sans-serif;
}

/* SECCIÓN CURSOS */

#contenedor-cursos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.curso {
  background-color: var(--color);
  padding: 0.25rem 0.75rem;
  width: fit-content;
  font-size: 0.875rem;
  border-radius: 1rem;
}

.asignatura-item {
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  color: #fff;
  position: relative;
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
  height: fit-content;
}

.asignatura-item:hover {
  scale: 1.05;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.asignatura-item::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: var(--backgroundColor); /* o el color base del item */
  z-index: -1;
}

.asignatura-item::before {
  content: "";
  position: absolute;
  inset: -3px; /* grosor del borde */
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    var(--backgroundColor2, #127bde),
    var(--backgroundColor3, #127bde),
    var(--backgroundColor3, #127bde),
    var(--backgroundColor2, #127bde)
  );
  background-size: 300% 300%;
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: borderMove 5s linear infinite;

  z-index: -2;
}
/*
90deg,  
    #4facfe,
    #43e97b,
    #f093fb,
    #4facfe
*/
/* Hover activa el borde */
.asignatura-item:hover::before {
  opacity: 1;
}

/* Animación */
@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

.asignatura-item h3 {
  margin: 0;
  font-size: 1.25rem;
  z-index: 2;
  position: relative;
}

.asignatura-item .profesor {
  font-size: 0.875rem;
  z-index: 2;
  position: relative;
}

.asignatura-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  background-color: transparent;
  pointer-events: none;
  border-radius: inherit;
}

.asignatura-icon img {
  height: 40%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  scale: 2;
  transition: 0.3s ease;
  opacity: 0.09;
  filter: invert(0);
}

.asignatura-item:hover .asignatura-icon img {
  transform: rotate(-10deg);
  scale: 2.75;
  opacity: 0.35;
  filter: invert(0);
  right: 2rem;
}

/* SECCIÓN ASIGNATURA DETALLE */

.asignatura-header {
  background-color: #f9fafb;
  z-index: 999;
}

.asignatura-detalle {
  border-radius: 1rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  color: #fff;
  position: relative;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  z-index: 1;
  height: fit-content;
}

.asignatura-detalle .asignatura-icon {
  z-index: 0;
}

.asignatura-detalle h2 {
  margin: 0;
}

.asignatura-detalle p {
  margin: 0;
}

::view-transition-old(*),
::view-transition-new(*) {
  height: 100%;
  width: 100%;
}

@keyframes abrir {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.asignatura-navegacion {
  width: fit-content;
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  margin: 0.5rem 0;
  border-radius: 2rem;
  background-color: rgba(72, 101, 147, 0.075);
}

.asignatura-navegacion button {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  font-family: outfit, sans-serif;
  box-shadow: 0 1px 2px 0 #e2e8f0;
  transition: 0.2s ease;
  cursor: pointer;
  animation: aparecer 0.5s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.asignatura-navegacion button:hover {
  background-color: rgb(230, 230, 230);
}

.asignatura-navegacion button:active {
  filter: brightness(0.9);
  scale: 0.975;
}

.asignatura-navegacion button.seleccionado {
  background-color: white;
  box-shadow: 0 1px 2px 0 #939494;
  color: black;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  main {
    margin: 0;
    padding: 1rem;
    padding-bottom: 100px;
  }

  aside {
    position: fixed;
    height: fit-content;
    top: auto;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    bottom: -1px;
    padding: 0;
    margin: 0;
    z-index: 9999;
    box-shadow: 0 -1px 5x rgba(0, 0, 0, 0.2);
  }

  aside nav {
    flex-direction: row;
    justify-content: space-around;
  }

  aside .logo {
    display: none;
  }

  aside nav ul {
    flex-direction: row;
  }

  aside nav ul li button span {
    display: none;
  }
  .contenedor-principal {
    flex-direction: column;
    min-height: auto;
  }
  .contenedor-detalle {
    min-height: auto;
  }
  .lista-evaluaciones {
    height: fit-content;
    flex: none;
  }
  .evaluaciones-container {
    flex: none;
  }
}
