body {
  background-color: var(--secondarycolor);
  margin: 0;
  min-height: 100vh;
  font-family: Outfit;
}

.container-inicio {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

.container-inicio h1 {
  margin: 1rem 0;
}

.fondo-login {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--primarycolor);
  height: auto;
  margin: 1rem;
}

.fondo-login img {
  width: 50%;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--secondarycolor);
  color: white;
  border-radius: 2rem;
}

.login {
  margin: 0 2rem;
  max-width: 350px;
}

.container-login {
  display: none;
}

.container-login.seleccionado {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

form div {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font:
    400 1rem Outfit,
    sans-serif;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}

input:focus {
  outline: 1px solid white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.login-select {
  width: fit-content;
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  margin: 1rem auto;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.login-select button {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-family: outfit, sans-serif;
  box-shadow: none;
  transition: 0.2s ease;
  cursor: pointer;
  animation: aparecer 0.5s ease;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-select button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.login-select button:active {
  filter: brightness(0.9);
  scale: 0.975;
}

.login-select button.seleccionado {
  background-color: white !important;
  box-shadow: 0 1px 2px 0 #939494;
  color: black;
}

.btn-login {
  padding: 1rem;
  background-color: #03ad77;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font:
    400 1rem Outfit,
    sans-serif;
  cursor: pointer;
  margin: 1rem 0;
}

.btn-login:hover {
  filter: brightness(0.95);
}

.btn-login:active {
  scale: 0.95;
}

main {
  height: 100vh;
  flex-wrap: nowrap;
}

.login-container .link {
  font-weight: 400;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  align-self: flex-start;
  border-radius: 1rem;
  outline: 1px solid;
  width: fit-content;
  justify-self: flex-start;
  color: var(--primarycolor);
  top: 2rem;
  position: absolute;
  text-decoration: none !important;
}

.link .arrow-icon {
  transform: rotate(-90deg);
  width: auto;
  height: 20px;
}

.link:hover {
  background-color: #023c7275;
}

@media (max-width: 768px) {
  .container-inicio {
    padding: 0;
  }

  .login-container {
    padding: 1rem 2rem;
  }

  .login {
    margin: 0;
  } 
  .fondo-login {
    display: none;
  }
}
