body {
  background-color: var(--primarycolor);
  margin: 0;
  min-height: 100vh;
  font-family: Outfit;
}

.container-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-inicio img {
  max-width: 500px;
  width: 100%;
}

.container-inicio h1 {
  text-transform: uppercase;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 450px;
  height: fit-content;
  background-color: var(--secondarycolor);
  color: white;
  margin: 1rem 1rem 1rem 1rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font:
    400 1rem Outfit,
    sans-serif;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}

input:focus {
  outline: 1px solid white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

button {
  width: fit-content;
  padding: 0.5rem;
  background-color: #03ad77;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font:
    400 1rem Outfit,
    sans-serif;
  cursor: pointer;
  margin: 1rem 0;
}

button:hover {
  filter: brightness(0.95);
}

button:active {
  scale: 0.95;
}

@media (max-width: 600px) {
  .container-inicio img {
    width: 100px;
  }
}
